*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    font-family: sans-serif;
}
.container {
    background-color: rgb(223, 223, 223);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container input {
    width: 300px;
    height: 40px;
    padding:5px 8px;
    outline: none;
    background: none;
    border: 2px solid black;
    /* transition: all 0.2s ease; */
    border-radius: 5px;
}
.container span{
    text-transform: capitalize;
    /* transition: all 0.2s ease; */
    font-weight: bold;
    font-size: 12px;
    display: none;

}